@charset "utf-8";
/* CSS Document */

#SimilarTitlesPopup {
	position: absolute;
	width: 400px;
	height: auto;
	border: 3px solid #eba801;
	opacity: 1;
	background-color: #ffffff;
	padding: 5px 10px 10px 10px;
	font-size: 120%;
	color: #252525;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

#SimilarTitlesCancelButton {
	font-size: 90%;
	color: #4572b8;
	text-align:right;
	margin-bottom:10px;
	cursor: pointer;
	text-decoration: underline;
}

#SimilarTitlesHeader {
	
}